* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0e17;
}

.garisLuar {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.benar {
  stroke-dashoffset: 5;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s;
  stroke: #fff;
}

.navigasiBar {
  position: relative;
  width: 400px;
  height: 60px;
}

.wadah:hover .garisLuar .benar {
  transition: 999999s;
  stroke-dashoffset: 1;
  stroke-dasharray: 0;
}

.wadah {
  position: absolute;
  inset: 0;
  background: #ff8906;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}

.tombol {
  padding: 0.5em 1.5em;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}

.tombol:hover {
  background: #e53170;
}

.tombol:nth-child(1):hover ~ svg .benar {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 2 8 73.3 8 10.7;
}

.tombol:nth-child(2):hover ~ svg .benar {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 12.6 9.5 49.3 9.5 31.6;
}

.tombol:nth-child(3):hover ~ svg .benar {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 24.5 8.5 27.5 8.5 55.5;
}

.tombol:nth-child(4):hover ~ svg .benar {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 34.7 6.9 10.2 6.9 76;
}

.tombol:hover ~ .garisLuar .benar {
  stroke-dashoffset: 0;
  stroke-dasharray: 0 0 10 40 10 40;
  transition: 0.5s !important;
}
